@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background: linear-gradient(180deg, #050926 0%, #485FD7 99.37%);
}

.grad-1 {
    position: fixed;
    width: 505px;
    height: 510px;
    left: 90%;
    top: 108px;
    background: #FFFFFF;
    filter: blur(250px);
    z-index: 0;
}

.grad-2 {
    position: fixed;
    width: 505px;
    height: 510px;
    right: 80%;
    top: 80%;
    background: #E477F6;
    filter: blur(250px);
    z-index: 0;
}

.search-main {}